<header id="default_header" class="header_style_1">
    <!-- header bottom -->
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- logo start -->
                    <div class="logo"> <a href="/index.html"><img src="/images/logos/LogoRolaPet.png" alt="logo" /></a>
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <!-- menu start -->
                    <div class="menu_side">
                        <div id="navbar_menu">
                            <ul class="first-ul">
                                <li><a href="/pages/home_admin/home_admin.html">Inicio</a></li>
                                <li><a href="/pages/tienda/tienda.html">Catálogo</a></li>
                                <li><a href="/pages/noticias_blog/noticias_blog.html">Blog</a></li>
                                <li><a href="/pages/mapa/mapa.html">Mapa</a></li>
                                <li><a href="/pages/gestion_usuarios_admin/gestion_usuarios_Admin.html">Perfil</a></li>
                                <!-- <li>
                                    <a href="/pages/carrito/carrito.html">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom end -->
</header>