<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<header id="default_header" class="header_style_1">
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo"> <a href="/index.html"><img src="/images/logos/LogoRolaPet.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="menu_side">
                        <div id="navbar_menu">
                            <ul class="first-ul">
                                <li><a href="/pages/home_usuario/home_usuario.html">Inicio</a></li>
                                <li><a href="/pages/tienda/tienda.html">Catálogo</a></li>
                                <li> <a href="/pages/noticias_blog/noticias_blog.html">Blog</a></li>
                                <li> <a href="/pages/mapa/mapa.html">Mapa</a></li>
                                <li> <a href="/pages/perfil_usuario/perfil_usuario.html">Perfil</a></li>
                                <li>
                                    <a href="/pages/carrito/carrito.html">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>