<style>
    @import "./moderacion-admin-component.css";
</style>


<section class="main-content">
    <h1>Moderación de Contenido</h1>

    <div class="tabs">
        <button class="active" type="button">Publicaciones Pendientes</button>
        <button type="button">Comentarios Pendientes</button>
    </div>

    <div class="filters">
        <input id="searchInput" type="text" placeholder="Buscar..." />
        <select>
            <option>Filtrar por Usuario</option>
        </select>
        <select>
            <option>Filtrar por Fecha</option>
        </select>
    </div>
    <div id="moderacion-list" class="moderacion-list">
        <!-- Las tarjetas de usuarios para moderación se renderizan desde moderacion-admin-component.js -->
    </div>
</section>